<div
  class="container py-10"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-offset="400"
>
  <h1 class="text-center text-5xl text-green-700 font-semibold py-16">
    {{ "Board of Directors" | translate }}
  </h1>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5"
  >
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Yazeeed-AL-Rasheed.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Yazeed Al-Rasheed</p>
      <p class="text-lg">President of the Federation</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Dr-Abdullah-AlHaidri.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Dr. Abdullah Al-Haidari</p>
      <p class="text-lg">Vice President of the Federation</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Mazroa-AlMzaroa.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Mazrou' Al-Mazrou</p>
      <p class="text-lg">Member of the Board of Directors</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Alanood-AlRabiah.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Al-Anoud Al-Rabea</p>
      <p class="text-lg">Member of the Board of Directors</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Basem-AlSallom.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Bassem Al-Salloum</p>
      <p class="text-lg">Member of the Board of Directors</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Abeer-AlHumaidi.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Abeer Al-Humaidi</p>
      <p class="text-lg">Member of the Board of Directors</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Fahad-AlMoamar.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Fahd Al-Muammar</p>
      <p class="text-lg">Member of the Board of Directors</p>
    </div>
    <div class="p-4 text-center rounded-md border bg-white shadow-lg group">
      <img
        src="assets/images/about/Mohammad-Aljabiri.png"
        alt=""
        class="transition-all duration-100 group-hover:scale-105"
      />
      <p class="text-green-700 text-2xl">Mohammed Al-Jabri</p>
      <p class="text-lg">Executive Director</p>
    </div>
  </div>
</div>
