<div class="flex h-screen">
  <!-- Sidebar -->
  <div
    class="max-h-full bg-slate-900 p-3 transition-all duration-300 overflow-auto"
    [ngClass]="{
      'min-w-60': !isSidebarCollapsed,
      'min-w-16': isSidebarCollapsed
    }"
  >
    <img
      src="assets/images/logo(header).png"
      alt="Logo"
      class="w-20 mx-auto mb-4"
    />
    <ul class="flex flex-col text-white gap-2">
      <p-accordion>
        <p-accordionTab [header]="'Home' | translate">
          <div class="space-y-2">
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="home"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fas fa-home text-xl"></i>
                @if(!isSidebarCollapsed){

                <span>{{ "Home" | translate }}</span>
                }
              </a>
            </li>
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="achievements"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid fa-star text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "Achievements" | translate }}</span>
                }
              </a>
            </li>
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="partners"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid fa-handshake text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "Partners" | translate }}</span>
                }
              </a>
            </li>
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="questions"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid far fa-question-circle text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "Q&A" | translate }}</span>
                }
              </a>
            </li>
          </div>
        </p-accordionTab>
      </p-accordion>

      <p-accordion>
        <p-accordionTab [header]="'About' | translate">
          <div class="space-y-2">
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="about"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid fa-circle-info text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "About Section" | translate }}</span>
                }
              </a>
            </li>
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="members"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid fa-users text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "Members" | translate }}</span>
                }
              </a>
            </li>
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="vision"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid fa-eye text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "Vision and Mission" | translate }}</span>
                }
              </a>
            </li>
            <li
              routerLinkActive="bg-green-700"
              class="rounded-md p-2 hover:bg-green-400"
            >
              <a
                routerLink="lacrosse-type"
                class="flex items-center gap-2 transition"
                [ngClass]="{ 'justify-center': isSidebarCollapsed }"
              >
                <i class="fa-solid fa-bullseye text-xl"></i>

                @if(!isSidebarCollapsed){

                <span>{{ "Types of Lacrosse" | translate }}</span>
                }
              </a>
            </li>
          </div>
        </p-accordionTab>
      </p-accordion>

      <li
        routerLinkActive="bg-green-700"
        class="rounded-md p-2 hover:bg-green-400"
      >
        <a
          routerLink="contact"
          class="flex items-center gap-2 transition"
          [ngClass]="{ 'justify-center': isSidebarCollapsed }"
        >
          <i class="fas fa-address-book text-xl"></i>

          @if(!isSidebarCollapsed){

          <span>{{ "Contact" | translate }}</span>
          }
        </a>
      </li>
      <li
        routerLinkActive="bg-green-700"
        class="rounded-md p-2 hover:bg-green-400"
      >
        <a
          routerLink="footer"
          class="flex items-center gap-2 transition"
          [ngClass]="{ 'justify-center': isSidebarCollapsed }"
        >
          <i class="fas fa-share-from-square text-xl"></i>

          @if(!isSidebarCollapsed){

          <span>{{ "Footer" | translate }}</span>
          }
        </a>
      </li>
      <li
        routerLinkActive="bg-green-700"
        class="rounded-md p-2 hover:bg-green-400"
      >
        <a
          routerLink="programs"
          class="flex items-center gap-2 transition"
          [ngClass]="{ 'justify-center': isSidebarCollapsed }"
        >
          <i class="fas fa-bars-progress text-xl"></i>

          @if(!isSidebarCollapsed){

          <span>{{ "Programs" | translate }}</span>
          }
        </a>
      </li>
      <li
        routerLinkActive="bg-green-700"
        class="rounded-md p-2 hover:bg-green-400"
      >
        <a
          routerLink="events"
          class="flex items-center gap-2 transition"
          [ngClass]="{ 'justify-center': isSidebarCollapsed }"
        >
          <i class="fa-solid fa-calendar-days text-xl"></i>
          @if(!isSidebarCollapsed){

          <span>{{ "Events" | translate }}</span>
          }
        </a>
      </li>

      <li
        routerLinkActive="bg-green-700"
        class="rounded-md p-2 hover:bg-green-400"
      >
        <a
          routerLink="news"
          class="flex items-center gap-2 transition"
          [ngClass]="{ 'justify-center': isSidebarCollapsed }"
        >
          <i class="fa-regular fa-newspaper text-xl"></i>

          @if(!isSidebarCollapsed){

          <span>{{ "News" | translate }}</span>
          }
        </a>
      </li>
      <li
        routerLinkActive="bg-green-700"
        class="rounded-md p-2 hover:bg-green-400"
      >
        <a
          routerLink="langs"
          class="flex items-center gap-2 transition"
          [ngClass]="{ 'justify-center': isSidebarCollapsed }"
        >
          <i class="fa-solid fa-language text-xl"></i>

          @if(!isSidebarCollapsed){

          <span>{{ "Languages" | translate }}</span>
          }
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-1 h-full">
    <!-- Header -->
    <div
      class="px-5 py-4 bg-gray-700 flex justify-between items-center shadow-md"
    >
      <button (click)="toggleSidebar()" class="text-white">
        <i class="fa-solid fa-bars text-2xl"></i>
      </button>
      <div class="flex gap-3 items-center">
        <p-menu #menu [model]="items" [popup]="true" />
        <button class="text-white" (click)="menu.toggle($event)">
          {{ adminInfo.email
          }}<i class="fa-regular fa-user ms-2 text-green-500 text-xl"></i>
        </button>

        <button
          (click)="changeLanguage()"
          type="button"
          class="text-green-500 hover:text-white border border-green-500 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2 text-center"
        >
          {{ languageService.lang() == "en" ? "العربية" : "en" }}
        </button>
      </div>
    </div>

    <!-- Main Content Area -->
    <div
      class="p-6 bg-gray-100 overflow-auto"
      style="height: calc(100% - 70px)"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
