<div class="p-4 bg-green-700">
  <div class="container">
    <div class="grid grid-cols-10 items-center justify-center">
      <div class="col-span-10 md:col-span-7">
        <p class="text-white">
          The Saudi Lacrosse Federation is committed to growing the sport of
          lacrosse throughout the Kingdom of Saudi Arabia. Founded in 2021, we aim
          to engage communities across the country and provide opportunities for
          everyone to experience this exciting sport.
        </p>
      </div>
      <div class="col-span-10 md:col-span-3">
        <img src="assets/images/logo(footer).png" alt="" class="w-32 flex md:ms-auto m-auto">
      </div>
    </div>
    <hr class="text-white my-5">
    <div class="flex justify-between flex-wrap gap-4">
      <div class="flex gap-10">
        <i class="fa-brands fa-facebook text-white text-2xl"></i>
        <i class="fa-brands  fa-instagram text-white text-2xl"></i>
        <i class="fa-brands  fa-linkedin text-white text-2xl"></i>
      </div>
      <div>
        <div class="flex justify-evenly text-white">
          <a routerLink="/home">{{"Home"|translate}}</a>
          <a routerLink="/about">{{"About"|translate}}</a>
          <a routerLink="/events">{{"Events"|translate}}</a>
          <a  routerLink="/contact">{{"Contact"|translate}}</a>
        </div>
        <span class="text-white text-sm">All rights reserved to ToQ Company, Saudi Arabia © 2024 - 1445 AH</span>
      </div>
    </div>
  </div>
</div>
