<div
  class="container py-10"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-offset="400"
>
  <h1 class="text-4xl text-green-700 font-semibold py-12">
    {{ "Our Vision and Mission" | translate }}
  </h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    <div
      class="px-5 py-10 border rounded-3xl transition-all duration-100 group hover:bg-green-700"
    >
      <div class="p-4 rounded-2xl bg-white m-auto w-fit">
        <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
          <ellipse
            cx="50"
            cy="50"
            rx="40"
            ry="25"
            stroke="#125a42"
            stroke-width="5"
            fill="none"
          ></ellipse>
          <circle cx="50" cy="50" r="10" fill="#125a42"></circle>
        </svg>
      </div>
      <h2
        class="text-green-700 text-center text-3xl py-2 group-hover:text-white"
      >
        {{ "Vision" | translate }}
      </h2>
      <p class="text-center text-gray-400 text-lg group-hover:text-white">
        We aspire to provide an opportunity to enjoy a different sport and
        achieve global excellence, becoming one of the best lacrosse
        communities.
      </p>
    </div>
    <div
      class="px-5 py-10 border rounded-3xl transition-all duration-100 group hover:bg-green-700"
    >
      <div class="p-4 rounded-2xl bg-white m-auto w-fit">
        <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
          <circle
            cx="50"
            cy="50"
            r="45"
            stroke="#125a42"
            stroke-width="5"
            fill="none"
          ></circle>
          <circle
            cx="50"
            cy="50"
            r="30"
            stroke="#125a42"
            stroke-width="5"
            fill="none"
          ></circle>
          <circle
            cx="50"
            cy="50"
            r="15"
            stroke="#125a42"
            stroke-width="5"
            fill="none"
          ></circle>
          <circle cx="50" cy="50" r="5" fill="#125a42"></circle>
        </svg>
      </div>
      <h2
        class="text-green-700 text-center text-3xl py-2 group-hover:text-white"
      >
        {{ "Mission" | translate }}
      </h2>
      <p class="text-center text-gray-400 text-lg group-hover:text-white">
        The Saudi Lacrosse Federation provides national leadership,
        infrastructure, and resources to support the growth of the sport, enrich
        participant experiences, and enhance and develop lacrosse in all its
        forms.
      </p>
    </div>
    <div
      class="px-5 py-10 border rounded-3xl transition-all duration-100 group hover:bg-green-700"
    >
      <div class="p-4 rounded-2xl bg-white m-auto w-fit">
        <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
          <path d="M20 80 L80 80 L50 40 Z" fill="#125a42"></path>
          <line
            x1="50"
            y1="40"
            x2="50"
            y2="20"
            stroke="#125a42"
            stroke-width="5"
          ></line>
          <polygon points="50,20 70,30 50,40" fill="#125a42"></polygon>
        </svg>
      </div>
      <h2
        class="text-green-700 text-center text-3xl py-2 group-hover:text-white"
      >
        {{ "Goals" | translate }}
      </h2>
      <p class="text-center text-gray-400 text-lg group-hover:text-white">
        To contribute to achieving the goal of sports participation, expand the
        federation's grassroots base, and build infrastructure and organization
        to enhance the practice of the game.
      </p>
    </div>
  </div>
</div>
