<div
  class="w-full p-16 text-center bg-slate-100"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-offset="400"
>
  <h1 class="text-green-700 text-5xl font-semibold">
    {{ homeContent?.title }}
  </h1>
  <h3 class="text-gray-400 text-2xl pt-4 font-medium">
    {{ homeContent?.subTitle }}
  </h3>
</div>

<div class="transition-all duration-100">
  <p-galleria
    [value]="images"
    [numVisible]="5"
    [circular]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
    [autoPlay]="true"
    [transitionInterval]="3000"
    [className]="'transition-all duration-100'"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.img"
        style="width: 100%; display: block"
        class="transition-all duration-100"
      />
    </ng-template>
  </p-galleria>
</div>
