<div
  class="container py-10"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-offset="400"
>
  <h1 class="text-5xl my-5 font-semibold text-green-700">
    {{ "Our Programs" | translate }}
  </h1>
  <p class="text-gray-500 text-lg my-6">
    {{ homeContent?.titleProgram }}
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 py-6">
    @for(p of programs ;track p.id){
    <div
      class="rounded-lg shadow-md overflow-hidden hover:border hover:border-green-700 transition-all delay-100 cursor-pointer"
    >
      <img [src]="p.img" alt="" class="object-cover h-64 w-full" />
      <div class="p-4">
        <h3 class="text-xl text-green-700">{{ p.name }}</h3>
        <p class="text-gray-400 text-sm">
          {{ p.description }}
        </p>
      </div>
    </div>
    }
  </div>
</div>
